/* 共通 css */
:root {
    --primary-bg-color: #F5F5F5;
    --secondary-bg-color: #333333;
    --third-bg-color: #70707080;
    --primary-font-color: #24292E;
    --secondary-font-color: #FFFFFF;
    --border-color: #2A2A2A;
}
* {
    box-sizing: border-box;
    color: var(--primary-font-color);
}
body {
    font-family: Arial、Hiragino Sans、Hiragino Kaku Gothic ProN、Meiryo、sans-serif;
    margin: unset;
}
img {
    display: block;
    width: 100%;
}
h1, h2, h3, h4, p, ul {
    margin: unset;
    padding: unset;
    text-align: center;
}
li {
    list-style: inside;
    list-style-type: "- ";
}
h2 {
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
}
h3 {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: var(--secondary-font-color);
}
h4 {
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    color: var(--secondary-font-color);
}
p {
    font-size: 14px;

}
footer p, li {
    font-family: Meiryo;
    font-size: 12px;
    color: var(--secondary-font-color);
    text-align: start;
}
p.copy,
a, a:visited {
    font-family: Meiryo;
    font-size: 12px;
    color: var(--primary-font-color);
    text-decoration: none;
}
div.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

/* 狭い画面向けの既定の CSS レイアウト値 */
section {
    margin: 80px 0;
}
img.logo {
    width: 120px;
    height: 40px;
}
h2 {
    padding-bottom: 20px;
}
h4 {
    padding-top: 30px;
    padding-bottom: 10px;
}
p {
    padding-bottom: 30px;
}
a.button {
    padding: 14px 36px;
    border: 1px solid var(--border-color);
}
header {
    position: absolute;
    top: 30px;
    right: 30px;
}
div.mainvisual img {
    height: 100vh;
    object-fit: cover;
}
section.magazines p {
    margin-bottom: 10px;
}
section.magazines div.img_text_group {
    position: relative;
    margin-bottom: 30px;
}
section.magazines div.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--secondary-font-color);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    width: 290px;
}
section.magazines div.text p {
    color: var(--secondary-font-color);
    padding: unset;
    margin: unset;
}
section.fashion {
    box-sizing: content-box;
    height: 520px;
    padding-top: 35px;
    margin-bottom: 50px;
    background-image: url("https://lh3.googleusercontent.com/d/1vb4ihmvLQO-l7ZLEboMNkHLnBbgs7V05");
    background-position: center;
    background-size: cover;
}
section.fashion .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.catalog_antique {
    background-color: var(--primary-bg-color);
    margin-top: 50px;
    margin-bottom: 30px;
}
section.catalog_antique h2 {
    padding-bottom: 40px;
}
section.catalog_antique div.text {
    display: flex;
    margin: 60px 0;
    flex-direction: column;
    align-items: center;
}
section.catalog_antique div.text p {
    text-align: start;
}
section.catalog_antique div.antique div.text p:last-of-type {
    padding-bottom: 60px;
}
footer > div {
    background-color: var(--secondary-bg-color);
    padding: 30px 0;
}
footer div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer div:first-of-type {
    align-self: center;
}
footer p.copy {
    text-align: center;
    padding: 30px 0;
}

@media (min-width: 896px) {
  /* 広い画面向けの CSS */
}

/* 後で消す */
/* 後で消す */
/* 後で消す */
/* @media (max-width: 375px) {
    main {
        background-color: red;
    }
} */
